body{
  background: rgba(232, 232, 230, 0.932);
}

.image{
    height: 80px;
    
}
#content, #tabsContainer{
  margin: 50px;
  font-size: 16px;
  color: navy;
}
#tabs{
  background: rgb(161, 161, 250);
  height: 120px;
  display: flex;
  justify-content: space-between;
  
  
}
header div button a{
  text-decoration: none;
  color: blue;
  font-weight: bolder;
}
header div button a:hover{
  color: white;
}
header div button{
  border: 1px solid blue;
  border-radius: 10px;
  padding: 4px 8px;
  
}
header div button:hover{
  background: green;
  color: white;
}
footer{
  height: 120px;
  background: blue;
  text-align: center;
  color: white;
  font-weight: bolder;
  width: 100%;
}
#main1{display: flex;}
.main-images{
  height: 400px;
}

.lists{
    list-style-type: none;
    /*border: 2px solid blue;*/
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    width: 150px;
    height: 220px;
    background:hsla(0, 0%, 100%, 0.781);
    
    
}
#shopDivider{
  display: flex;
  margin: 40px 10px;
}

#itemzDiv{
    display: flex;
 }

 #cartDivider{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 0px 0px 400px;

 }

  .cartButton{
    width: 80%;
    margin: 0px 0px 0px 200px;
  
 } 

 #myCart{
   border-radius: 15px;
   width:200px;
   padding: 30px;
   display: none;
   background:rgba(255, 255, 255, 0.815);
   list-style-type: none;
    list-style: none;

   
 }

 #container{
    display: flex;
    list-style-type: none;
    list-style: none;
 }
 
 .Cart-image{
  height: 20px;
 }
.quantity{
  width: 100px ;
}
.add{
  border: none;
  outline: none;
  padding: 5px,0px;
  color: blue;
  background: white;
}
.addToCart{
  color: white;
  background: green;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 10px;
}
.addToCart:hover{
  color: black;
  background: hsla(120, 100%, 25%, 0.708);
}
.removeFromCart{
  color: white;
  background:red;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 10px;
}
.viewCart{
  background: green;
  color: white;
  font-weight: bolder;
  padding: 8px 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 100px;
  
}


